body {
    background-color: black;
}
.text-white{
    color: white;
}
.centered{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    justify-items: center;
}